# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [34]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [35]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [36]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). Usa la misma que en la práctica de ETL
nombreBD = 'AndreaRamirez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.98.205/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [37]:
if not database_exists(engine.url):
    create_database(engine.url)

In [40]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', con=engine, if_exists="replace")

In [41]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [44]:
query = """select distinct LaunchSite from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [43]:
query = ("""select LaunchSite from SPACEXTBL where LaunchSite LIKE ('CCS%')
limit 5""")
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1  CCSFS SLC 40
2  CCSFS SLC 40
3  CCSFS SLC 40
4  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [55]:
query = """select  Customers, sum(PayloadMass) from SPACEXTBL where Customers = "NASA (CRS)" """
df  = pd.read_sql(query, con = engine )
df

    Customers  sum(PayloadMass)
0  NASA (CRS)           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [54]:
query = """select avg(PayloadMass) from SPACEXTBL where Serial like 'B1%' """
df  = pd.read_sql(query, con = engine )
df

   avg(PayloadMass)
0       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [57]:
query = ("""select Date from SPACEXTBL where LandingOutcome=('TRUE RTLS') ORDER BY Date LIMIT 1""")
df  = pd.read_sql(query, con = engine )
df

         Date
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [58]:
query = ("""select Serial from SPACEXTBL where LandingOutcome=('TRUE ASDS') AND PayloadMass BETWEEN 4000 AND 6000""")
df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [65]:
query = ("""select count(FlightNumber) from SPACEXTBL where LandingOutcome like ('True%') """)
df  = pd.read_sql(query, con = engine )
df

   count(FlightNumber)
0                   60

In [66]:

query = ("""select count(FlightNumber) from SPACEXTBL where LandingOutcome not like ('True%') """)
df  = pd.read_sql(query, con = engine )
df

   count(FlightNumber)
0                   30

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [75]:
query = ("""select Serial, PayloadMass, LaunchSite from SPACEXTBL where PayloadMass= (select max(PayloadMass) from SPACEXTBL) """)
df  = pd.read_sql(query, con = engine )
df

   Serial  PayloadMass    LaunchSite
0   B1048      15600.0  CCSFS SLC 40
1   B1049      15600.0  CCSFS SLC 40
2   B1051      15600.0  CCSFS SLC 40
3   B1056      15600.0  CCSFS SLC 40
4   B1048      15600.0    KSC LC 39A
5   B1051      15600.0    KSC LC 39A
6   B1049      15600.0  CCSFS SLC 40
7   B1059      15600.0  CCSFS SLC 40
8   B1049      15600.0  CCSFS SLC 40
9   B1060      15600.0    KSC LC 39A
10  B1058      15600.0    KSC LC 39A
11  B1051      15600.0    KSC LC 39A
12  B1060      15600.0  CCSFS SLC 40

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [88]:
query = ("""select YEAR(Date), LandingOutcome, Serial, PayloadMass from SPACEXTBL where (LandingOutcome like ('None%') or  LandingOutcome like ('False%')) and YEAR(Date)=2015 """)
df  = pd.read_sql(query, con = engine )
df

   YEAR(Date) LandingOutcome Serial  PayloadMass
0        2015     False ASDS  B1012       2395.0
1        2015     False ASDS  B1015       1898.0
2        2015      None None  B1016       4707.0
3        2015      None ASDS  B1018       2477.0

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [95]:
query = ("""select Date, LandingOutcome, count(Mission_Outcome) from SPACEXTBL where Date BETWEEN  '2010-06-04' AND '2017-03-20' GROUP BY LandingOutcome ORDER BY count(Mission_Outcome) DESC """)
df  = pd.read_sql(query, con = engine ) 
df

         Date LandingOutcome  count(Mission_Outcome)
0  2010-06-04      None None                       9
1  2016-04-08      True ASDS                       5
2  2015-01-10     False ASDS                       4
3  2014-04-18     True Ocean                       3
4  2015-12-22      True RTLS                       3
5  2013-09-29    False Ocean                       2
6  2015-06-28      None ASDS                       2